<% provide(:title, "Create share") %>
<h1>Share post</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @email, url: {action: "share"} do |f| %>

        <%= hidden_field_tag :task, @task %>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder: "Enter email" %>
        <%= f.text_field :content, value: @task.content %>

        <%= f.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>