<li>
    <div class="user-image"><%= gravatar_for user, 50%></div>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
        <span> | </span>
        <%= link_to "delete", user, method: :delete,
                                data: { confirm: "Are you sure?" },
                                class: "delete-part"%>
    <% end %>
</li>